name: fithub

services:
  app:
    build: ./app
    container_name: web-app
    hostname: web-app
    volumes: ["./app/src:/app"]
    environment:
      - WATCHPACK_POLLING=true
    ports:
      - 8501:8501
    depends_on:
      - api


  api:
    build: ./api
    container_name: web-api
    hostname: web-api
    # mapping on folder - insert into docker like harddrive
    volumes: ["./api:/apicode"]
    environment:
      - WATCHPACK_POLLING=true
    ports:
      - 4000:4000
    depends_on:
      - db

  db:
    env_file:
      - ./api/.env
    image: mysql:8.4
    container_name: mysql_db
    hostname: db
    # NO command line needed!
    volumes:
      - "./database-files:/docker-entrypoint-initdb.d/:ro"
      - "mysql_data:/var/lib/mysql"
    ports:
      - 3200:3306

volumes:
  mysql_data: